<header>
    <div class="site-name nav-link"><a href="{{ site.url }}">{{ site.title }}</a></div>
    <nav>
        <ul class="nav">
            {% for item in site.data.navigation %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.path }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% if page.usemath %}
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            TeX: {
              equationNumbers: {
                autoNumber: "AMS"
              }
            },
            tex2jax: {
            inlineMath: [ ['$', '$'] ],
            displayMath: [ ['$$', '$$'], ['\\[', '\\]'] ],
            processEscapes: true,
          }
        });
        MathJax.Hub.Register.MessageHook("Math Processing Error",function (message) {
              alert("Math Processing Error: "+message[1]);
            });
        MathJax.Hub.Register.MessageHook("TeX Jax - parse error",function (message) {
              alert("Math Processing Error: "+message[1]);
            });
        </script>
      <script type="text/javascript" async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</header>